.App {
  text-align: center;
  background-color: #007c7f;
  min-height: 100vh;
  font-family: monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.editor-wrapper{
  max-width: 600px;
  margin: 0 auto;
  border-style: ridge;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
}
.toolbar{
  display: flex;
  width: auto;
  padding: .25em;
  border-style: outset;
  background-color: #0000a8;
  color: white;
  font-weight: bold;
  font-size: 1em;
  align-items: center;
}

#editor{
  width: 99%;
  min-height: 200px;
  resize: vertical;
  color: white;
  background-color: black;
  border-style: ridge;
}

.App-header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
