body{
  background-color: #007c7f;
  font-family: monospace;
}
.App {
  text-align: center;
  min-height: 100vh;
}
textarea, #preview {
  background-color: rgba(0,0,0,0);
  width: auto;
  resize: vertical;
  color: white;
  border-style: ridge;
}
.window{
  border-style: ridge;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  align-items: normal;
  filter: drop-shadow(5px 5px 10px #000);

}
#editor-window{
  max-width: 600px;
  margin: 1em auto;
}
#preview-window{
  max-width: 800px;
  margin: 0 auto 1em auto;
}
.toolbar{
  display: flex;
  width: auto;
  padding: .25em;
  border-style: outset;
  background-color: #0000a8;
  color: white;
  font-weight: bold;
  font-size: 1em;
  align-items: center;
}

#editor{
  min-height: 200px;
}
#preview{
  min-height: 600px;
}